<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>Trending Topics Analysis</title>
		<meta name="Dashboard" content="NUS-ISS" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="{{STATIC_URL}}js/html5.js"></script>
		<![endif]-->
		<link href="{{STATIC_URL}}css/styles.css" rel="stylesheet">
	</head>
	<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Dailymotion - Trending Topics Analysis</a>
        </div>
      </div>
</nav>

<div class="container-fluid">
      
      <div class="row row-offcanvas row-offcanvas-left">
        
         <div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">
           
            <ul class="nav nav-sidebar">
              <li class="active"><a href="../">Dashboard</a></li>
              <li><a href="../news">News</a></li>
              <li><a href="../sports">Sports</a></li>
              <li><a href="../movies">Movies</a></li>
              <li><a href="../comedy">TV COMEDY & ENTERTAINMENT</a></li>
              <li><a href="../celeb">CELEB</a></li>
              <li><a href="../common">Common</a></li>
            </ul>
          
        </div><!--/span-->
        
        <div class="col-sm-9 col-md-10 main">

             <div class="table-responsive">
        	<div class="panel panel-default">
            <div class="panel-heading"><h3>Bigger Trend</h3></div>
            <div class="panel-body">
<table class="table table-bordered table-striped table-hover" style="border-collapse:collapse;">

    <thead>
        <tr><th>&nbsp;</th>
            <th>Technical ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Trend_Source</th>
            <th>Created Date</th>
        </tr>
    </thead>

    <tbody>



        <tr data-toggle="collapse" data-target="#demo2" class="accordion-toggle">
                <td><button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open"></span></button></td>
                <td>10001</td>
            <td>ABC</td>
            <td>A B C</td>
            <td>Twitter</td>
          <td> Today</td>
        </tr>
        <tr>
            <td colspan="6" class="hiddenRow"><div id="demo2" class="accordian-body collapse">Json File Containing Concepts</div></td>
        </tr>

    </tbody>
</table>
            </div>
          </div>
      </div>





      </div><!--/row-->
	</div>
</div><!--/.container-->
<footer>
  <p class="pull-right">©2014 Company</p>
</footer>
	<!-- script references -->
		<script src="{{STATIC_URL}}js/jquery.min.js"></script>
		<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
		<script src="{{STATIC_URL}}js/scripts.js"></script>
	</body>
</html>